.dashboard{
    display: grid;
    grid-template-columns: auto 1fr;
}

.sidebar{
    padding: var(--ws-6) var(--ws-6) var(--ws-8) var(--ws-4);
    height: 100%;
    min-height: 100vh;
    border-right: 1px solid var(--yellow-8);
}

.sidebar h3{
    font-size: var(--fs-lg);
    margin-bottom: var(--ws-4);
}

.sidebar nav{
    display: flex;
    flex-direction: column;
    gap: var(--ws-4);
    margin-bottom: var(--ws-6);
    margin-left: var(--ws-2);
}

.sidebar .nav-sublinks{
    visibility: hidden;
    opacity: 0;
    transform:scale(1, 0);
    height: 0;
    transition: visibility 0s, opacity 0.3s, transform 0.3s linear;
}

.sidebar .nav-resource:hover .nav-sublinks{
    visibility: visible;
    opacity: 1;
    transform:scale(1,1);
    height: auto;
    padding: var(--ws-4);
    padding-right: 0;
}

.sidebar .nav-sublinks a{
    color: var(--blue-6);
}

#location-picker{
    width: 100%;
    background-color: var(--base-2);
    aspect-ratio: 1/1;

}


