@font-face { font-family: moderustic; font-weight: 100 200 300; src: url('/static/fonts/moderustic-light.ttf');}
@font-face { font-family: moderustic; font-weight: 400; src: url('/static/fonts/moderustic-regular.ttf');}
@font-face { font-family: moderustic; font-weight: 500; src: url('/static/fonts/moderustic-medium.ttf');}
@font-face { font-family: moderustic; font-weight: 600; src: url('/static/fonts/moderustic-semi-bold.ttf');}
@font-face { font-family: moderustic; font-weight: 700; src: url('/static/fonts/moderustic-bold.ttf');}
@font-face { font-family: moderustic; font-weight: 800 900; src: url('/static/fonts/moderustic-extra-bold.ttf');}

:root{

    --blue-0:           #eceeef;
    --blue-1:           #d8dddf;
    --blue-2:           #b2bbbf;
    --blue-3:           #8b999f;
    --blue-4:           #65777f;
    --blue-5:           #3e555f;
    --blue-6:           #32444c;
    --blue-ctst:        #253339;
    --blue-8:           #131a1d;
    --blue-9:           #0b0f11;
    
    --green-0:     #e7eae6;
    --green-1:     #cfd5cc;
    --green-2:     #9fac9a;
    --green-3:     #708267;
    --green-4:     #405935;
    --green-ctst:  #102f02;
    --green-6:     #0e2a02;
    --green-7:     #0b2101;
    --green-8:     #081801;
    --green-9:     #050e01;

    --yellow-0:         #fbfbef;
    --yellow-1:         #f6f6df;
    --yellow-2:         #eeeebf;
    --yellow-3:         #e5e5a0;
    --yellow-4:         #dddd80;
    --yellow-5:         #d4d460;
    --yellow-6:         #aaaa4d;
    --yellow-7:         #7f7f3a;
    --yellow-8:         #555526;
    --yellow-ctst:      #2a2a13;

    --base-0:           #f6f3f2;
    --base-1:           #ede7e4;
    --base-2:           #dcd0c9;
    --base-3:           #cab8ae;
    --base-4:           #b9a193;
    --base-5:           #a78978;
    --base-6:           #866e60;
    --base-7:           #645248;
    --base-8:           #433730;
    --base-ctst:        #211b18;

    --red-0:            #f6e8ea;
    --red-1:            #edd1d5;
    --red-2:            #dba4ab;
    --red-3:            #c97682;
    --red-4:            #b74958;
    --red-5:            #a51b2e;
    --red-6:            #841625;
    --red-ctst:         #63101c;
    --red-8:            #420b12;
    --red-9:            #210509;


    
    --fs-sm:    clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
    --fs-base:  clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
    --fs-md:    clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
    --fs-lg:    clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
    --fs-xl:    clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
    --fs-xxl:   clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
    --fs-xxxl:  clamp(3.05rem, 3.54vi + 2.17rem, 5rem);

    --ws-1:     0.236rem;
    --ws-2:     0.382rem;
    --ws-3:     0.618rem;
    --ws-4:     1rem;
    --ws-5:     1.618rem;
    --ws-6:     2.618rem;
    --ws-7:     4.236rem;
    --ws-8:     6.854rem;
    --ws-9:     11.089rem;
    --ws-10:    17.942rem;

    --heading-height: 50px
}

/** DEFAULT TAG STYLES */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size:62.5%;
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
}


body{
    margin: 0;
    font-family: moderustic, sans-serif;
    font-size: var(--fs-md);
    color: var(--base-ctst);
    font-weight: 400;
}

a, a:link,a:hover,a:active,a:visited{
  color: var(--blue-ctst);
}

a, a:link, a:active{
  text-decoration: none;
}

a:hover{
  color: var(--blue-9);
  font-weight: 600;
}

a.active-link{
  font-weight: 600;
}

h1,h2,h3,h4,h5{
    font-size: var(--fs-xxl);
    color: var(--green-ctst);
    font-weight: 300;
    user-select: none;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--yellow-8);
    height: var(--heading-height);
    padding: 0 var(--ws-4);
}

/** TABLE STYLES */

.table-container{
  padding: var(--ws-4);
  max-width: 100%;
  overflow: hidden;
}

table{
  width: 100%;
  border-collapse: collapse;
}

th{
  position: relative;
  user-select:none;
  font-weight: 300;
  border: 1px solid var(--blue-4);
  border-top: none;
  padding: var(--ws-3) 0;

}


th:first-of-type{
  border-left: none;
}
th:last-of-type{
  border-right: none;
}

thead tr{
  border-bottom: 1px solid var(--blue-4);
}

td{
  padding: var(--ws-3) 0;
  text-wrap:nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 0px;
}

tbody tr:nth-child(even){
  background-color: var(--blue-0)
}

.resizer {
  position: absolute;
  top: 0;
  right: -5px;
  width: 10px;
  padding: 0 4px;
  cursor: col-resize;
  user-select: none;
  height: 500px;
}

.resizer{
  .indicator{
    width: 100%;
    height: 100%;
  }
}

.resizer:hover:not(.dragging) {
  .indicator{
    background-color: var(--blue-2);
  }
}

table:active .resizer:hover:not(.dragging){
  cursor:default;
  .indicator{
    background-color: transparent;
    
  }
}

.dragging{
  .indicator{
    background-color: var(--blue-9);
  }
}






/** UTILITY CLASSES */

.disabled-scroll{
    height: 100%;
    overflow-y: hidden;
}

.centered-text{
  text-align: center;
}

/** MODAL CONTAINER */

.modal{
    position: fixed;
    inset: 0;
    background-color: rgba(255,255,255,0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
}

.modal.hidden{
  display: none;
}

.modal-content{
    position: relative;
}

.close-modal-button {
    position: absolute;
    right: 2px;
    top: 2%;
    width: 32px;
    height: 32px;
    z-index: 10;
    opacity: 0.6;
    cursor: pointer;
  }

  .close-modal-button:hover {
    opacity: 1;
  }

  .close-modal-button:before, .close-modal-button:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close-modal-button:before {
    transform: rotate(45deg);
  }
  .close-modal-button:after {
    transform: rotate(-45deg);
  }

  /** TOAST CONTAINER */
  @keyframes bounceIn {
    0% {transform: translateX(-100%); opacity: 0;}
    80% {transform: translateX(20%); opacity: 100%; }
    100% {opacity: 100%; }
}

@keyframes bounceOut {
    20% {transform: translateX(20px); opacity: 100%;}
    100% {transform: translateX(-150%); opacity: 0%}
}

@keyframes depleteTimeBar {
    0% {transform: translateX(0%);}
    100% {transform: translateX(100%);}
}

  #toast-container{
    position: absolute;
    top: calc(var(--heading-height) + 5px);
    left: 0;
  }

  #toast {
    max-width: 50vw;
    background-color: var(--blue-0);
    border-right: 10px solid var(--blue-9);
    border-radius: 5px;
    font-size: var(--fs-md);
    box-shadow: 2px 2px 0 0 rgba(0,0,0,0.1);
    overflow: hidden;
    margin-left: 10px;
    display: none;
    grid-template-rows: 1fr auto;
    user-select: none;
    cursor: pointer;
  }

  #toast .hidden {
    background-color: var(--blue-0);
    border-right: 10px solid var(--blue-9);
    border-radius: 5px;
    font-size: var(--fs-md);
    box-shadow: 2px 2px 0 0 rgba(0,0,0,0.1);
    overflow: hidden;
    margin-left: 10px;
    display: none;
    grid-template-rows: 1fr auto;
    user-select: none;
    cursor: pointer;
  }

  #toast.success{
    background-color: var(--green-0);
    border-right: 10px solid var(--green-6);
  }

  #toast.error{
    background-color: var(--red-0);
    border-right: 10px solid var(--red-ctst);
  }

  .toast-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--ws-4);
    min-height: 10rem;
    padding: 0 var(--ws-6);
  }

  #toast-icon{
    font-size: var(--fs-xxl);
    color: var(--blue-6);
    text-shadow: rgba(0, 0, 0, 0.1);
  }

  #toast.successs #toast-icon{
    color: var(--green-4);
  }

  #toast.error #toast-icon{
    color: var(--red-4);
  }

  #toast-message{
    
    min-width: 25vw;
  }


  #toast.show {
    display: grid;
    animation: bounceIn 600ms;
    animation-fill-mode: both;
  }

  #toast.hidden {
    opacity: 0;
    border-color: transparent;
    background-color: transparent;
  }


  #toast.show .progress-bar{
    bottom: 0;
    height: 5px;
    width: 100%;
    
    animation: depleteTimeBar 7s linear; 
    animation-delay: 600ms;
    animation-fill-mode: both;
    background-color: var(--blue-6);
  }

  #toast.successs .progress-bar{
    background-color: var(--green-4);
  }

  #toast.error .progress-bar{
    background-color: var(--red-5);
  }

  #toast.successs{
    border-right: 10px solid var(--green-6);
  }

  #toast.error{
    border-right: 10px solid var(--red-5);
  }


/** HEADER */

  .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.logo-wrapper{
    width: 4rem;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    overflow: hidden;
}

.logo-wrapper img{
    width: 100%;
}

/** COMPONENT CLASSES */

/* button */
button{
    padding: 0.8rem 1.6rem;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--green-8);
    font-size: var(--fs-md);
    letter-spacing: var(--ws-1);
    user-select: none;
}

button:hover{
    background-color: var(--base-0);
}

button.primary{
    background-color: var(--green-7);
    color: var(--base-0);
}

button.primary:hover{
    background-color: var(--green-ctst);
}

/* Errors */
.error-messages{
    color: var(--red-ctst);
}

.error-messages ul{
    margin: var(--ws-4) 0 var(--ws-4) var(--ws-4);
    list-style: none;
}

.error-messages li{
    margin-bottom: var(--ws-4);
}


/** FORM STYLES */

.field-group{
    margin-bottom: var(--ws-2);
}

form{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--ws-4);
    border: 1px solid var(--green-4);
    padding: 6rem 4rem;
    width: 42rem;
    max-width: 100%;
    box-shadow: 1px 2px 0 0 rgba(0,0,0,0.2);
}

.form-heading{
    color: var(--blue-ctst);
    font-weight: 300;
    margin-bottom: var(--ws-4);
}

.form-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: var(--ws-4);
}

.form-item label{
    margin-bottom: var(--ws-2);
    font-weight: 500;
    user-select: none;
}

.form-item input{
    font-size: var(--fs-md);
    padding: 0.8rem 1.6rem; 
}

.form-item.required label::after{
    content:"*";
    color: var(--red-ctst);
    font-weight: 900;
    font-size: var(--fs-lg); 
    margin-left: var(--ws-2);
}

form button[type="submit"]{
    align-self: center;
}



@keyframes spinner {
    to {transform: rotate(360deg);}
  }

  
form.loading {
    pointer-events: none;
    user-select: none;
}

form.htmx-request button::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    inset: 0;
    background-color: rgba(255,255,255,0.7);
    opacity: 50%;
    cursor:default;
  }

form.htmx-request button::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: spinner .6s linear infinite;
    opacity: 100%;
    cursor:default;
  }


/* AUTH FORM*/

.auth-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--ws-8);
}

.modal .auth-form{
    background-color: white;
    margin-top: 0;
}

/* PAGE NOT ACCESSIBLE PAGES */
.page-inaccessible{
  margin-top: var(--ws-7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.page-inaccessible .status-code{
  font-size: var(--fs-xxxl);
  margin-bottom: var(--ws-1);
  color: var(--blue-8);
}
.page-inaccessible .status{
  font-size: var(--fs-lg);
  margin-bottom: var(--ws-6);
  color: var(--blue-8);
}

.page-inaccessible p{
  font-size: var(--fs-md);
}

