{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/htmx.min.js" defer></script>
    <script src="/static/js/htmx-response-targets.js" defer></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/form.css">
    {{block "cssImports" .}}
    {{end}}
    {{block "js" .}}
    {{end}}
    <title>
        {{block "title" .}}
        {{end}}
    </title>
</head>

<body>
    <header>
        <a class="title" href="/">
        <div class="logo-wrapper">
            <img src="/static/images/logo/hg.logo.png" alt="logo"/>
        </div>
            <h1>HeteroGen</h1>
    </a>
    <nav>
        <a href="/register"><button class="primary">Register</button></a>
        <button hx-get="/log-in" hx-target="#modal-container">Log-In</button>
    </nav>
    </header>

    {{block "content" .}}
    {{end}}

    <div id="modal-container"></div>  
    <div id="toast"></div>  
</body>

</html>
{{end}}