{{define "base.layout"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/htmx.min.js" defer></script>
    <script src="/static/js/script.js" defer></script>
    <link rel="stylesheet" href="/static/css/style.css" media="screen">
    {{block "cssImports" .}}
    {{end}}
    {{block "js" .}}
    {{end}}
    <title>
        {{block "title" .}}
        {{end}}
    </title>
</head>

<body>
    <header>
        <a class="title" href="/">
        <div class="logo-wrapper">
            <img src="/static/images/logo/hg.logo.png" alt="logo"/>
        </div>
            <h1>Heterogen</h1>
    </a>
    <nav id="top-level-nav">
        {{if .IsLoggedIn }}
         {{if eq .Location "/" }}
            <a href="/dashboard"><button class="primary" >Dashboard</button></a>
            {{end}}
          
            
         
            <button hx-post="/log-out" hx-post="/register" hx-on::before-request="setIsLoggingOut();" hx-on::after-request="setSuccessToast(event.detail.xhr.response, event.detail.xhr.status)">Log-Out</button>
        {{else }}
            <a href="/register"><button class="primary">Register</button></a>
            <button id="log-in-button" onClick="showSignInForm(); document.body.classList.add('disabled-scroll')">Log-In</button>
        
        {{end}}

    </nav>
    </header>
    {{block "content" .}}
    {{end}}
    {{template "logInForm.component" .}}
    <div id="modal-container">
        
    </div>  
    <div id="toast-container">
        {{template "toast.component" .}}
        {{block "toast-content" .}}
        {{end}}
    </div>  
</body>

</html>
{{end}}