{{define "dashboard.layout"}}
{{template "base.layout" .}}
{{end}}

{{define "cssImports"}}
<link rel="stylesheet" href="/static/css/dashboard.css">
{{block "dashboardCss" .}}{{end}}
{{end}}

{{define "js"}}
{{block "dashboardJs" .}}{{end}}
{{end}}

{{define "content"}}
<div class="dashboard">
    <aside class="sidebar">
        <nav class="admin-links">
            <h3>Admin</h3>
            <div class="nav-resource">
                <a href="/users" {{if eq .Location "/users" }} class="active-link" {{end}}>Users</a>
            </div>
            <div class="nav-resource">
                <a href="/businesses" {{if eq .Location "/businesses" }} class="active-link" {{end}}>Businesses</a>
                <div class="nav-sublinks">
                    <a href="/add-business" {{if eq .Location "/add-business" }} class="active-link" {{end}}>Add</a>
                </div>
            </div>
            <div class="nav-resource">
                <a href="/populations">Populations</a>
            </div>
            <div class="nav-resource">
                <a href="/seed-lots">Seed</a>
            </div>
        </nav>
        <nav class="user-links">
            <h3>My Business</h3>
            <div class="nav-resource">
                <a href="/populations">Seed Received</a>
            </div>
            <div class="nav-resource">
                <a href="/seed-lots">Seed Issued</a>
            </div>
        </nav>
    </aside>
    {{block "dashboard-content" .}}{{end}}
</div>
{{end}}