
{{define "dashboard.layout"}}
    {{template "base.layout" .}} 
{{end}}

{{define "cssImports"}}
<link rel="stylesheet" href="/static/css/dashboard.css">
{{block "dashboardCss" .}}{{end}}
{{end}}

{{define "js"}}
{{block "dashboardJs" .}}{{end}}
{{end}}

{{define "content"}}
<div class="dashboard">
    <aside class="sidebar">
        <nav class="admin-links">
            <h3>Admin</h3>
            <a href="/users" {{if eq .Location "/users" }} class="active-link" {{end}}>Users</a>
            <a href="/populations">Populations</a>
            <a href="/seed-lots">Seed</a>
        </nav>
        <nav class="user-links">
            <h3>My Business</h3>
            <a href="/populations">Seed Received</a>
            <a href="/seed-lots">Seed Issued</a>
        </nav>
    </aside>
    {{block "dashboard-content" .}}{{end}}
</div>
    {{end}}


