{{template "base.layout" .}}

{{define "cssImports"}}
<link rel="stylesheet" href="/static/css/dashboard.css">
{{end}}

{{define "title"}}
HeteroGen - 403
{{end}}

{{define "content"}}
<main>
    <div class="page-inaccessible">
        <h2 class="status-code">403</h2>
        <h3 class="status">Forbidden</h3>
        <p>You do not have the necessary permissions to access this page</p>
    </div>
</main>
{{end}}