{{template "base.layout" .}}

{{define "cssImports"}}
<link rel="stylesheet" href="/static/css/home.css">
{{end}}

{{define "title"}}
HeteroGen
{{end}}

{{define "content"}}
<main>
    <div class="hero-section">
        <div class="hero-content">
        <div class="hero-img-wrapper"><img src="/static/images/crops.webp" alt="Crops at Turners of Bytham" /></div>
        <div class="tagline">
            <h2>Diversity</h2>
            <h2>with</h2>
            <h2>Integrity</h2>
        </div>
    </div>
       
    </div>
</main>
{{end}}