{{template "base.layout" .}}

{{define "cssImports"}}
<link rel="stylesheet" href="/static/css/dashboard.css">
{{end}}

{{define "title"}}
HeteroGen - 401
{{end}}

{{define "content"}}
<main>
    <div class="page-inaccessible">
        <h2 class="status-code">404</h2>
        <h3 class="status">Not Found</h3>
        <p>Return <a href="/">home</a></p>
    </div>
</main>
{{end}}