{{template "base.layout" .}}


{{define "title"}}
HeteroGen - Registration
{{end}}

{{define "content"}}
<section class="auth-form">
    <form hx-post="/register"
        hx-disabled-elt="this" hx-on::before-request="setIsRegistering();" hx-on::after-error="clearIsRegistering();" hx-on::after-request="handleErrors(event); this.classList.remove('htmx-request')">
        <h2 class="form-heading">Register</h2>
        <div class="field-group">
            <div class="form-item">
                <label for="email_address">Email Address</label>
                <input type="email" placeholder="your@email.com" name="email_address" id="email_address" {{range
                    $attribute :=.Validators.EmailAddress}} {{$attribute}} {{end}} />
            </div>
        </div>
        <div class="field-group">
            <div class="form-item">
                <label for="first_name">First Name</label>
                <input type="text" placeholder="Jane" name="first_name" id="first_name" {{range $attribute
                    :=.Validators.FirstName}} {{$attribute}} {{end}}>

                <div class="form-item required">
                    <label for="last_name">Last Name</label>
                    <input type="text" placeholder="Doe" name="last_name" id="last_name" {{range $attribute
                        :=.Validators.LastName}} {{$attribute}} {{end}} />
                </div>
            </div>
        </div>
        <div class="field-group">
            <div class="form-item required">
                <label for="business">Business</label>
                <input type="text" placeholder="Your business" name="business" id="business" {{range $attribute
                    :=.Validators.Business}} {{$attribute}} {{end}} />
            </div>
        </div>
        <div class="field-group">
            <div class="form-item required">
                <label for="password">Password</label>
                <input type="password" placeholder="password" name="password" id="password" {{range $attribute
                    :=.Validators.Password}} {{$attribute}} {{end}}
                    onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 6 characters' : ''); if(this.checkValidity()) form.confirmPassword.pattern = this.value;" />

            </div>
            <div class="form-item required">
                <label for="confirm-password">Confirm password</label>
                <input type="password" placeholder="password" name="confirm-password" id="confirmPassword" required
                    pattern=""
                    onchange="this.setCustomValidity(this.validity.patternMismatch ? 'The passwords do not match' : '');" />
            </div>
        </div>
        <div class="error-message-container"></div>
        <button type="submit" class="primary">Register</button>
    </form>
</section>
{{end}}