<table>
    <thead>
        <tr>
            {{range $header := .Reports.Users.Headers}}
            <th><div class="resizer"><div class="indicator"></div></div><div draggable="true">{{$header}}</div></th>
            {{end}}
          </tr>
    </thead>
    <tbody>
        {{range $row := .Reports.Users.Rows}}
            <tr>
                {{range $field := $row}}
                    <td>{{$field}}</td>
                {{end}}
            </tr>
        {{end}}
    </tbody>
</table>